.toast-container {
    position: fixed;
    z-index: 999999;
    max-width: 300px;
    min-width: 250px;
    max-height: 90vh;
    height: auto;
}

.top-right {
    top: 12px;
    right: 12px;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
}

.btn-toast-close {
    background: transparent;
    border: 0;
    cursor: pointer;                
}

.toast {
    position: relative;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    color: white;
    overflow: auto;
    transition: transform .2s ease-in-out;
    animation: toast-in-right .2s;
}

.toast:hover {
    box-shadow: 0 0 10px 1px gray;
}

.toast-body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.toast-title {
    font-weight: 700;
    font-size: 1rem;
}


@keyframes toast-in-right {
    from {
        transform: translateX(100%);

    }

    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);
    }
}