.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    visibility: hidden;
}

.sidebar {
    position: absolute;
    width: 70%;
    left: -100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    transition: 0.5s ease;
}

@media only screen and (min-width : 576px) {
    .sidebar {
        width: 20%;
    }
}