.test-carousel {
    width: 100%;
    height: 200px;
    background-image: url("https://www.bakerykart.com/upload/cake-premix-internal-banner.jpg");
    background-size: "cover";
    background-position: "center";
}