.sidebar {    
    position: fixed;
    width: 0px;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: #F3F4F6;
    transition: 0.5s;
}

.sidebar-close {
    position: absolute;
    top: 0;
    right: 0px;
}


@media only screen and (min-width : 576px) {
    .sidebar {
        display: block;
        width: 20%;
        padding: 1rem;
    }

    .sidebar-close {
        display: none;
    }
}