.products-sidebar {
    position: fixed;
    width: 70%;
    left: -100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: #F3F4F6;
    transition: 0.5s ease;
}

.products-sidebar-close {
    position: absolute;
    top: 0;
    right: 0px;
}


@media only screen and (min-width : 576px) {
    .products-sidebar {
        display: block;
        width: 20%;
        left: 0;
        padding: 1rem;
    }

    .products-sidebar-close {
        display: none;
    }
}